.notification {
    color: black;
    margin: 5px 0;
    padding: 10px 5px;
}

.notification-title {
    font-weight: bold;
}

.error {
    background-color: #f25555;
    border: 2px #f02424 solid;
    border-radius: 5px;
}

p {
    margin: 0;
}