.header__menu{
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background: rgb(255,255,255, .1)
}

.logo-link {
    text-decoration: none;
    z-index: 99;
}

.link {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    z-index: 99;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.m15 {
    margin: 0 15px;
}

.link::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0;
    transition: 0.3s;
}

.link:hover::after{
    opacity: 1;
}

.links {
    padding: 0 10px;
}


/* ------------------- */
  .box:before {
    content: "";
    background-image: url(../../pictures/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    z-index: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }