.header__menu{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header__menu>li{
    position: relative;
    margin: 0px 15px 0px 15px;
    cursor: pointer;
}

.header__menu>li::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0;
    transition: 0.3s;
}

.header__menu>li:hover::after{
    opacity: 1;
}