.header__menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo-link {
    text-decoration: none;
}

.link {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.m15 {
    margin: 0 15px;
}

.link::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0;
    transition: 0.3s;
}

.link:hover::after{
    opacity: 1;
}

.links {
    padding: 0 10px;
}
