.navbar {
    list-style: none;
    flex-grow: 0;
    min-width: 275px;
    max-height: 180px;

    padding: 5px 10px;
    margin: 0 20px 0 0;
    background: #C4C4C4;
    border-radius: 0 20px 20px 0;
}

.nav-item {
    margin-top: 3px;
    cursor: pointer;
}

.nav-item-link {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-top: 3px;
}