.sign-up-wrapper {
    padding: 15px;
    border-radius: 7px;
    background-color: #e1e1e1ad;
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sing-up-label {
    display: none;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}